@model TravelAgencyProject.ViewModel.UsersViewModel
@using TravelAgencyProject.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet"
        href="~/Content/StyleSheet1.css">
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <header>
        <h1>Travel Agency</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" action="Submit" method="post">
            <div class="form_div">
                <label>Login:</label>
                <input  id="Email "class="field_class" name="Email" type="email" placeholder="Enter email" >
                <label>Password:</label>
                <input id="pass" class="field_class" name="pass" type="password" placeholder="Enter password">
                <button class="submit_class" type="submit" form="login_form">Login</button>
            </div>
            <div class="info_div">
                <p>New user? <a href="https://localhost:44378/Login/NewUser">Click here to sign up!</a></p>
            </div>
        </form>
    </main>
    <footer>
        <p>The best travel agency in the world!<a href="#"> The pashutot&trade;</a></p>
    </footer>

</body>


</html>
